Package: com.haoict.camerashuttersounddisabler
Name: Camera Shutter Sound Disabler
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Camera Shutter Sound Disabler
 Camera Shutter Sound Disabler
 Support iOS 12 - 14
 Change log:
 - v0.1.0: Use bash, add disable camera_shutter_burst
 . 
 I work very hard to make good, free and open source tweaks for everyone
 If you want to support, you can buy me a coffee at https://www.paypal.me/haoict
 . 
 Thanks a ton
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
